version: '2'
services:
  influxdb: #1
    image: qnib/influxdb
    networks:
     - consul-net
    environment:
     - DC_NAME=swarm
     - CONSUL_NODE_NAME=influxdb
     - COLLECT_METRICS=false
     - INFLUXDB_DATABASES=qcollect
     - CONSUL_CLUSTER_IPS=qnib-consul
     - INFLUXDB_META_LOGGING=true
    ports:
     - 2003:2003
     - 8083:8083
     - 8086:8086
